PINECONE_DEFAULT_API=abcdefghijklmnopqrstuvwxyz1234567890
PINECONE_INDEX_NAME=vectorembeddings
DATABASE_URL=postgresql://postgres:root@localhost:5432/ai_learn
GEMINI_API_KEY=IamGeminiAPIPleaseTryIt-YES-REALLY-TRY-IT-1234567890